<% if flash[:error] %>
  <div class="alert alert-info"><%= flash[:error] %></div>
<% end %>

<div class="jumbotron">
  <h1>Welcome to CurbAlert!</h1>
  <p><%= form_for :session, :url => sessions_path do |f| %>
  <p>Email:</p> <%= f.text_field :email %>
  </br> </br>
  <p>Password:</p> <%= f.password_field :password %>
  </br>
   </br>
  <%= f.submit "Login", :class =>"btn btn-primary btn-lg"%></p>
   </br>
  <%= link_to "Sign Up", new_user_path, :class =>"btn btn-primary btn-lg"%></p>

<% end %>

</div>


