<div class="curb_form">

<%= form_for @curb do |f| %>

</br>

Title: <%= f.text_field :subject, :placeholder => 'Free Stuff'  %>

Posted by:<%= f.collection_select :name, @user, :name, :name %>


Address: <%= f.text_field :address, :style => "width:200px;height:80px;" %>
</br></br>
Message: <%= f.text_field :content, :style => "width:300px;height:150px;"%>
</br></br>
<%= f.file_field :picture,  :style => "margin:0 auto;",:class =>"form-group" %>
</br>

<%= f.submit "Curb It", :class =>"btn btn-default btn-lg"%>


<%end%>
</div>