<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>
</br>

</br>
</br>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

  <!-- Wrapper for slides -->

  <div class="carousel-inner">
      <div class="item active">
          <div class="jumbotron">
  <h1>Welcome to CurbAlert</h1>
  <p>Scroll to see free stuff in your area!</p>

</div>
          <div class="carousel-caption">
          </div>
      </div>

    <% @curb.each do |c| %>
  
       <div class="item">
       <div>
       <%= image_tag c.picture.url, :style => "width:350px;height:300px; border-radius:1000px;"%>
       </div>
          <div class="content">
             <strong><%= c.subject %> - </strong>
                  <tr>
                        <td><%= link_to 'More Info', curb_path(c) %></td> 
                        
                  </tr>
                  <p><%=c.content%></p>
                  <p>posted by:<%=@current_user.name%></p>
          </div>
      </div>
     <%end%>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
 
  



  



