<h1>Your Post</h1>
 
     <strong><%= @curb.subject %></strong>
     </br>
     <p><%=@curb.content%></p>
     <p>
     <strong>Address:</strong>
     <%=@curb.address%>
     </p>
     

     <%= image_tag @curb.picture.url %>
	</br>
       <tr>
          <td><%= link_to 'Edit Post /', edit_curb_path %></td> 

          <%= link_to " ", @curb, {method: :delete, data:{confirm: "Are you sure you want to delete this post?"}, class: "glyphicon glyphicon-trash"} %>
        </tr>
    	
</br>

<button><%= link_to "Back", curbs_path%></button>