<h1><%= @curb.subject %></h1>
 
     </br>
     <p><%=@curb.content%></p>
     <p>
     <strong>Address:</strong>
     <%=@curb.address%>
     </p>

     

     <%= image_tag @curb.picture.url %>
	</br>
  </br>

  <% if @current_user.id.to_s == @curb.name.to_s %>
       <tr>
          <td><%= link_to 'Edit', edit_curb_path,:class => "btn btn-default btn-xs" %></td> 

          <%= link_to " ", @curb, {method: :delete, data:{confirm: "Are you sure you want to delete this post?"}, class: "glyphicon glyphicon-trash btn btn-default btn-xs"} %>
        </tr>
    <%end%>
</br>


<%= link_to "Back to Curbs", curbs_path, :class =>"btn btn-default "%>