<!DOCTYPE html>
<html>
<head>
  <title>CurbAlert</title>
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
     <!-- <script src=”jquery.mobile.custom.min.js”></script>  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body >
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/curbs'>CurbAlert</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"data-toggle="dropdown">City: Venice <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Venice</a></li>
            <li><a href="#">Santa Monica</a></li>
             <li><a href="#">Culver</a></li>
            
            <li class="divider"></li>
            <li><a href="#">View All</a></li>
          </ul>
           <li class="active" ><%= link_to 'Create New Post', new_curb_path %></li>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">

        <% if !current_user %>
            <li><%= link_to "Sign In", new_sessions_path %></li>
        
        <% else %>
          
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Posts</a></li>
            <li><a href="#">Account Settings</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", sessions_path, :method => :delete %></li>
          </ul>
        </li>
          <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="mainContainer">

<%= yield %>
</div>
</body>
</html>
